.THIS.tile {
  display:table-cell;
  margin: 5px;
  background-color: gray;
  color: white;
  font-size: 50px;
  text-align: center;
  max-height: 300px;
  max-width:300px;
  vertical-align: middle;
  border: 2px solid white;
   border-radius: 20px;
 -webkit-box-shadow: 4px 1px 16px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 1px 16px 0px rgba(0,0,0,0.75);
box-shadow: 4px 1px 16px 0px rgba(0,0,0,0.75);
}